<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        Guia press
    </a>
<!-- CRIAÇÃO DE MENU EM UMA NAVE BAR, INFORMAR O CAMINHO-->
    <ul class="navbar-nav mr-auto"> <!--ul class="mr-auto" serve p/ adicionar uma margin total a direita-->
        <li class="nav-item">
            <a href="/amdmin/categories" class="nav-link">Categorias</a>
        </li>
    </ul>

</nav>